<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>757954584873-eb47j3b9gj27a63sbbr99hh958plr9nc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757954584873-eb47j3b9gj27a63sbbr99hh958plr9nc</string>
	<key>API_KEY</key>
	<string>AIzaSyBOzJfwpEar7kRf2zndlOcGQ6KOGUpTQKI</string>
	<key>GCM_SENDER_ID</key>
	<string>757954584873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.stanc.PokemonGoTool</string>
	<key>PROJECT_ID</key>
	<string>pogotool-b0a1f</string>
	<key>STORAGE_BUCKET</key>
	<string>pogotool-b0a1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757954584873:ios:3c47c03f4ad98883</string>
	<key>DATABASE_URL</key>
	<string>https://pogotool-b0a1f.firebaseio.com</string>
</dict>
</plist>